* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 body {
  
   font-style: normal;
   font-weight: 400;
   background-color: rgb(124, 181, 132);
   overflow: hidden;
   color: #555;
 }